section.tariffs-screen#tariffs-screen
  .section-title-block.tariffs-screen__title-block
    .container-custom
      h2.section-title.tariffs-screen__title Тарифы <br><span class="script-font">“O Китае — просто”</span>
  .tariffs-screen__content-block
    .container-custom
      .tariffs-screen__content-block-grid
        .tariff-card#basic-tariff
          .tariff-card__title-block
            h3.tariff-card__title Базовый
            .tariff-card__icon-block
              img(src="img/photo/basic-tariff-icon-x2.jpg", alt="Значок базовый").tariff-card__icon
            p.tariff-card__title-description Taobao + выкуп через посредника
          p.tariff-card__description Для тех, кто хочет совершать покупки для себя
          .tariff-card__content
            ul.tariff-card__list
              li.tariff-card__list-item Безопасная регистрация на Таобао
              li.tariff-card__list-item Работа с сайтом Таобао
              li.tariff-card__list-item Все варианты поиска товара
              li.tariff-card__list-item Как находить вещи из масмаркета
              li.tariff-card__list-item Разбор рейтинга поставщиков
              li.tariff-card__list-item Связь с продавцом
              li.tariff-card__list-item Как выбрать качественный товар
              li.tariff-card__list-item Как не ошибиться с размером
              li.tariff-card__list-item Поиск экспортных магазинов
              li.tariff-card__list-item Платформа Tmall (покупка оригинальных брендов)
              li.tariff-card__list-item Как узнать стоимость доставки по Китаю
              li.tariff-card__list-item Работа с мобильным приложение Таобао
              li.tariff-card__list-item Схема выкупа через посредника
              li.tariff-card__list-item Виды доставки, тарифы
              li.tariff-card__list-item Заполнение бланка заказа
            h4.tariff-card__bonus-title Бонусные материалы
            ul.tariff-card__bonus-list
              li.tariff-card__bonus-item Организация СП
              li.tariff-card__bonus-item Расчёт себестоимости
              li.tariff-card__bonus-item Список проверенных магазинов (более 150 шт.)
              li.tariff-card__bonus-item Документ с дословным переводом китайских размерных сеток
              li.tariff-card__bonus-item Документ с примерным весом вещей
              li.tariff-card__bonus-item Список проверенных посредников
              li.tariff-card__bonus-item Чат с единомышленниками
            .tariff-card__bonus-info
              p.tariff-card__bonus-info-text.color-text 30 уроков 6 лекций
              p.tariff-card__bonus-info-text Доступ к курсу 3 месяца
            p.tariff-card__feedback-text.color-text Обратной связи нет

            .tariff-card__passport
              .tariff-card__passport-img
                img(src="img/photo/passport-icon-x1.jpg", alt="Значок паспорта")
              .tariff-card__passport-text Для получения полного доступа к функционалу китайких сайтов необходим загранпаспорт. <br>(Не обязательно свой)

          .tariff-card__bottom
            button.tariff-card__toggle-button#basic-tariff-detailed Подробнее
              <svg class="tariff-card__toggle-button-icon" width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.70711 0.292893C8.31658 -0.097631 7.68342 -0.097631 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 2V1L7 1V2L9 2Z" fill="#70B2C7"/>
              </svg>
            a.button.tariff-card__buy-button(href="https://docs.google.com/forms/d/e/1FAIpQLScPP7LyatgbElIUtrxor10viKPCS_VdZ_xNzO7Hf62Fbul-gA/viewform?embedded=true" target="_blank") Купить
            p.tariff-card__price 3 500 ₽


        .tariff-card#standart-tariff
          .tariff-card__title-block
            h3.tariff-card__title Стандарт
            .tariff-card__icon-block
              img(src="img/photo/standart-tariff-icon-x2.jpg", alt="Значок стандарт").tariff-card__icon
            p.tariff-card__title-description Taobao + 1688 + все виды выкупа
          p.tariff-card__description Для тех, кто хочет начать бизнес с Китаем и совершать покупки для себя
          .tariff-card__content
            ul.tariff-card__list
              li.tariff-card__list-item Всё что входит в тариф «Базовый»
              li.tariff-card__list-item Безопасная регистрация на 1688
              li.tariff-card__list-item Работа с сайтом 1688
              li.tariff-card__list-item Все варианты поиска товара
              li.tariff-card__list-item Как находить производителей
              li.tariff-card__list-item Как находить поставщиков брендирующих товары
              li.tariff-card__list-item Рейтинга магазина, выбор хорошего поставщика
              li.tariff-card__list-item Связь/торг с продавцом
              li.tariff-card__list-item Как ввести адрес склада посредника
              li.tariff-card__list-item Плюсы и минусы самостоятельного выкупа, схема
              li.tariff-card__list-item Верификация и пополнение Алипей
              li.tariff-card__list-item Самостоятельный выкуп с 1688
              li.tariff-card__list-item Оплата другом
              li.tariff-card__list-item Скидки, купоны, уровни
              li.tariff-card__list-item Отслеживание товара
              li.tariff-card__list-item Споры/возвраты
              li.tariff-card__list-item Работа с мобильным приложением 1688
            h4.tariff-card__bonus-title Бонусные материалы
            ul.tariff-card__bonus-list
              li.tariff-card__bonus-item Список основных китайских фраз для общения
              li.tariff-card__bonus-item Список товаров запрещённых к международной перевозке
              li.tariff-card__bonus-item Чат с единомышленниками

            .tariff-card__bonus-info
              p.tariff-card__bonus-info-text.color-text 58 уроков 9 лекций
              p.tariff-card__bonus-info-text Доступ к курсу 4 месяца

            p.tariff-card__feedback-text.color-text Обратная связь 2 месяца

            .tariff-card__passport
              .tariff-card__passport-img
                img(src="img/photo/passport-icon-x1.jpg", alt="Значок паспорта")
              .tariff-card__passport-text Для получения полного доступа к функционалу китайких сайтов необходим загранпаспорт. <br>(Не обязательно свой)

          .tariff-card__bottom
            button.tariff-card__toggle-button#standart-tariff-detailed Подробнее
              <svg class="tariff-card__toggle-button-icon" width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.70711 0.292893C8.31658 -0.097631 7.68342 -0.097631 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 2V1L7 1V2L9 2Z" fill="#70B2C7"/>
              </svg>
            a.button.tariff-card__buy-button(href="https://docs.google.com/forms/d/e/1FAIpQLScPP7LyatgbElIUtrxor10viKPCS_VdZ_xNzO7Hf62Fbul-gA/viewform?embedded=true" target="_blank") Купить
            p.tariff-card__price.letter-spacing-3persent 13 500 ₽

        .tariff-card.vip-tariff-card#vip-tariff
          .tariff-card__title-block
            h3.tariff-card__title VIP
            .tariff-card__icon-block
              img(src="img/photo/vip-tariff-icon-x1.jpg", alt="Значок стандарт").tariff-card__icon
            p.tariff-card__title-description Taobao + 1688 + Pinduoduo + WetChat + Poizon + все виды выкупа
          p.tariff-card__description Для тех, кто хочет знать всё
          .tariff-card__content
            ul.tariff-card__list
              li.tariff-card__list-item Всё что входит в тариф «Базовый»
              li.tariff-card__list-item Всё что входит в тариф «Стандарт»
              li.tariff-card__list-item Всё что входит в тариф «Плюс»

            h4.tariff-card__bonus-title Бонусные материалы
            ul.tariff-card__bonus-list
              li.tariff-card__bonus-item Все бонусные материалы с других тарифов
              li.tariff-card__bonus-item Ссылки на чаты по оформлению сертификатов и деклараций
              li.tariff-card__bonus-item Телеграмм канал по сборным съёмкам
              li.tariff-card__bonus-item Чат с единомышленниками

            .tariff-card__bonus-info
              p.tariff-card__bonus-info-text.color-text 70 уроков 11 лекций
              p.tariff-card__bonus-info-text Доступ к курсу 4 месяца

            p.tariff-card__feedback-text.color-text Обратная связь 2 месяца

            .tariff-card__passport
              .tariff-card__passport-img
                img(src="img/photo/passport-icon-x1.jpg", alt="Значок паспорта")
              .tariff-card__passport-text Для получения полного доступа к функционалу китайких сайтов необходим загранпаспорт. <br>(Не обязательно свой)

          .tariff-card__bottom
            button.tariff-card__toggle-button#vip-tariff-detailed Подробнее
              <svg class="tariff-card__toggle-button-icon" width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.70711 0.292893C8.31658 -0.097631 7.68342 -0.097631 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 2V1L7 1V2L9 2Z" fill="#70B2C7"/>
              </svg>
            a.button.tariff-card__buy-button(href="https://docs.google.com/forms/d/e/1FAIpQLScPP7LyatgbElIUtrxor10viKPCS_VdZ_xNzO7Hf62Fbul-gA/viewform?embedded=true" target="_blank") Купить
            p.tariff-card__price.letter-spacing-3persent 18 500 ₽

        .tariff-card#plus-tariff
          .tariff-card__title-block
            h3.tariff-card__title Плюс
            .tariff-card__icon-block
              img(src="img/photo/plus-tariff-icon-x1.jpg", alt="Значок плюс").tariff-card__icon
            p.tariff-card__title-description Pinduoduo + WetChat + Poizon + все виды выкупа
          p.tariff-card__description Для тех, кто уже умеет работать с Таобао и 1688 и хочет узнать больше. Оригинальные бренды, люксовые копии, китайские СП
          .tariff-card__content
            .tariff-card__plus-title Работа с приложением Pinduoduo
            ul.tariff-card__list
              li.tariff-card__list-item Скачивание и регистация
              li.tariff-card__list-item Разбор мобильного приложения
              li.tariff-card__list-item Фишки приложения
              li.tariff-card__list-item Ввод адреса доставки
              li.tariff-card__list-item Покупка товра

            .tariff-card__plus-title Работа с приложением WeChat
            ul.tariff-card__list
              li.tariff-card__list-item Скачивание приложение и регистрация
              li.tariff-card__list-item Работа с приложением
              li.tariff-card__list-item Фишки приложения
              li.tariff-card__list-item Покупка товара

            .tariff-card__plus-title Работа с приложением Poizon
            ul.tariff-card__list
              li.tariff-card__list-item Скачивание приложения и регистрация
              li.tariff-card__list-item Работа с приложением
              li.tariff-card__list-item Фишки приложения
              li.tariff-card__list-item Ввод адреса доставки
              li.tariff-card__list-item Покупка товра

            h4.tariff-card__bonus-title Бонусные материалы
            ul.tariff-card__bonus-list
              li.tariff-card__bonus-item Более 250 поставщиков в WeChat, у которых собраны люксовые копии популярных брендов и не только. Также вам будет предоставлен секретный контакт поставщика копий Dyson

            .tariff-card__bonus-info
              p.tariff-card__bonus-info-text.color-text 20 уроков 2 лекции
              p.tariff-card__bonus-info-text Доступ к курсу 4 месяца

            p.tariff-card__feedback-text.color-text Обратной связи нет

            .tariff-card__passport
              .tariff-card__passport-img
                img(src="img/photo/passport-icon-x1.jpg", alt="Значок паспорта")
              .tariff-card__passport-text Для получения полного доступа к функционалу китайких сайтов необходим загранпаспорт. <br>(Не обязательно свой)

          .tariff-card__bottom
            button.tariff-card__toggle-button#plus-tariff-detailed Подробнее
              <svg class="tariff-card__toggle-button-icon" width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.70711 0.292893C8.31658 -0.097631 7.68342 -0.097631 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 2V1L7 1V2L9 2Z" fill="#70B2C7"/>
              </svg>
            a.button.tariff-card__buy-button(href="https://docs.google.com/forms/d/e/1FAIpQLScPP7LyatgbElIUtrxor10viKPCS_VdZ_xNzO7Hf62Fbul-gA/viewform?embedded=true" target="_blank") Купить
            p.tariff-card__price.letter-spacing-3persent 11 500 ₽
