section.reviews-screen
  .section-title-block.reviews-screen__title-block
    .container-custom
      h2.section-title.reviews-screen__title Отзывы<br><span class="script-font">моих учеников</span>
  .reviews-screen__slider-block
    .container-custom
      .reviews-screen__slider
        .reviews-screen__slider-item
          img(src="img/photo/reviews/review-img-1.jpg", alt="Отзыв").reviews-screen__slider-img
        .reviews-screen__slider-item
          img(src="img/photo/reviews/review-img-2.jpg", alt="Отзыв").reviews-screen__slider-img
        .reviews-screen__slider-item
          img(src="img/photo/reviews/review-img-3.jpg", alt="Отзыв").reviews-screen__slider-img
        .reviews-screen__slider-item
          img(src="img/photo/reviews/review-img-4.jpg", alt="Отзыв").reviews-screen__slider-img
        .reviews-screen__slider-item
          img(src="img/photo/reviews/review-img-5.jpg", alt="Отзыв").reviews-screen__slider-img
        .reviews-screen__slider-item
          img(src="img/photo/reviews/review-img-6.jpg", alt="Отзыв").reviews-screen__slider-img
        .reviews-screen__slider-item
          img(src="img/photo/reviews/review-img-7.jpg", alt="Отзыв").reviews-screen__slider-img

