section.reviews-screen
  .section-title-block.reviews-screen__title-block
    .container-custom
      h2.section-title.reviews-screen__title Отзывы<br><span class="script-font">моих учеников</span>
  .reviews-screen__slider-block
    .container-custom
      .reviews-screen__slider
        .reviews-screen__slider-item
          <picture>
            <source srcset="img/photo/reviews/review-img-1.avif" type="image/avif">
            <source srcset="img/photo/reviews/review-img-1.webp" type="image/webp">
            <source srcset="img/photo/reviews/review-img-1.jpg" type="image/jpg">
            <img class="reviews-screen__slider-img" src="img/photo/reviews/review-img-1.jpg" alt="Отзыв">
          </picture>
        .reviews-screen__slider-item
          <picture>
            <source srcset="img/photo/reviews/review-img-2.avif" type="image/avif">
            <source srcset="img/photo/reviews/review-img-2.webp" type="image/webp">
            <source srcset="img/photo/reviews/review-img-2.jpg" type="image/jpg">
            <img class="reviews-screen__slider-img" src="img/photo/reviews/review-img-2.jpg" alt="Отзыв">
          </picture>
        .reviews-screen__slider-item
          <picture>
            <source srcset="img/photo/reviews/review-img-3.avif" type="image/avif">
            <source srcset="img/photo/reviews/review-img-3.webp" type="image/webp">
            <source srcset="img/photo/reviews/review-img-3.jpg" type="image/jpg">
            <img class="reviews-screen__slider-img" src="img/photo/reviews/review-img-3.jpg" alt="Отзыв">
          </picture>
        .reviews-screen__slider-item
          <picture>
            <source srcset="img/photo/reviews/review-img-4.avif" type="image/avif">
            <source srcset="img/photo/reviews/review-img-4.webp" type="image/webp">
            <source srcset="img/photo/reviews/review-img-4.jpg" type="image/jpg">
            <img class="reviews-screen__slider-img" src="img/photo/reviews/review-img-4.jpg" alt="Отзыв">
          </picture>
        .reviews-screen__slider-item
          <picture>
            <source srcset="img/photo/reviews/review-img-5.avif" type="image/avif">
            <source srcset="img/photo/reviews/review-img-5.webp" type="image/webp">
            <source srcset="img/photo/reviews/review-img-5.jpg" type="image/jpg">
            <img class="reviews-screen__slider-img" src="img/photo/reviews/review-img-5.jpg" alt="Отзыв">
          </picture>
        .reviews-screen__slider-item
          <picture>
            <source srcset="img/photo/reviews/review-img-6.avif" type="image/avif">
            <source srcset="img/photo/reviews/review-img-6.webp" type="image/webp">
            <source srcset="img/photo/reviews/review-img-6.jpg" type="image/jpg">
            <img loading="lazy" class="reviews-screen__slider-img" src="img/photo/reviews/review-img-6.jpg" alt="Отзыв">
          </picture>
        .reviews-screen__slider-item
          <picture>
            <source srcset="img/photo/reviews/review-img-7.avif" type="image/avif">
            <source srcset="img/photo/reviews/review-img-7.webp" type="image/webp">
            <source srcset="img/photo/reviews/review-img-7.jpg" type="image/jpg">
            <img class="reviews-screen__slider-img" src="img/photo/reviews/review-img-7.jpg" alt="Отзыв">
          </picture>
        .reviews-screen__slider-item
          <picture>
            <source srcset="img/photo/reviews/review-img-8.avif" type="image/avif">
            <source srcset="img/photo/reviews/review-img-8.webp" type="image/webp">
            <source srcset="img/photo/reviews/review-img-8.jpg" type="image/jpg">
            <img class="reviews-screen__slider-img" src="img/photo/reviews/review-img-8.jpg" alt="Отзыв">
          </picture>
