.button {
  width: fit-content;
  height: fit-content;
  padding: 20px 58px;
  color: $white-color;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  background-color: $blue-color;
  border-radius: 4px;
}
