section.questions-screen
  .section-title-block.questions-screen__title-block
    .container-custom
      h2.section-title.questions-screen__title Часто задаваемые<br><span class="script-font">вопросы</span>
  .questions-screen__content
    .container-custom
      .question-card#question_1
        .question-card__question
          .question-card__user
            <svg width="82" height="82" viewBox="0 0 82 82" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="41" cy="41" r="40.5" stroke="#70B2C7"/>
              <path d="M41 41.0003C46.753 41.0003 51.4167 36.3366 51.4167 30.5837C51.4167 24.8307 46.753 20.167 41 20.167C35.2471 20.167 30.5834 24.8307 30.5834 30.5837C30.5834 36.3366 35.2471 41.0003 41 41.0003Z" stroke="#70B2C7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M58.8956 61.8333C58.8956 53.7708 50.8748 47.25 40.9998 47.25C31.1248 47.25 23.104 53.7708 23.104 61.8333" stroke="#70B2C7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          .question-card__question-text-block
            p.question-card__question-text Смогу ли я делать заказы из Китая если я не знаю китайский язык?
        .question-card__answer
          .question-card__answer-text-block
            p.question-card__answer-text Разумеется! Китайские сайты легко переводятся на русский.
          .question-card__user
            img(src="img/photo/author-avatar.png", alt="Автор")
        button.question-card__toggle-button#question_1_detailed Показать ответ
          <svg class="question-card__toggle-button-icon" width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.70711 0.292893C8.31658 -0.097631 7.68342 -0.097631 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 2V1L7 1V2L9 2Z" fill="#70B2C7"/>
          </svg>

      .question-card#question_2
        .question-card__question
          .question-card__user
            <svg width="82" height="82" viewBox="0 0 82 82" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="41" cy="41" r="40.5" stroke="#70B2C7"/>
              <path d="M41 41.0003C46.753 41.0003 51.4167 36.3366 51.4167 30.5837C51.4167 24.8307 46.753 20.167 41 20.167C35.2471 20.167 30.5834 24.8307 30.5834 30.5837C30.5834 36.3366 35.2471 41.0003 41 41.0003Z" stroke="#70B2C7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M58.8956 61.8333C58.8956 53.7708 50.8748 47.25 40.9998 47.25C31.1248 47.25 23.104 53.7708 23.104 61.8333" stroke="#70B2C7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          .question-card__question-text-block
            p.question-card__question-text На каком языке нужно разговаривать с посредником?
        .question-card__answer
          .question-card__answer-text-block
            p.question-card__answer-text Все посредники владеют русским языком в большей или меньшей степени.
          .question-card__user
            img(src="img/photo/author-avatar.png", alt="Автор")
        button.question-card__toggle-button#question_2_detailed Показать ответ
          <svg class="question-card__toggle-button-icon" width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.70711 0.292893C8.31658 -0.097631 7.68342 -0.097631 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 2V1L7 1V2L9 2Z" fill="#70B2C7"/>
          </svg>

      .question-card#question_3
        .question-card__question
          .question-card__user
            <svg width="82" height="82" viewBox="0 0 82 82" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="41" cy="41" r="40.5" stroke="#70B2C7"/>
              <path d="M41 41.0003C46.753 41.0003 51.4167 36.3366 51.4167 30.5837C51.4167 24.8307 46.753 20.167 41 20.167C35.2471 20.167 30.5834 24.8307 30.5834 30.5837C30.5834 36.3366 35.2471 41.0003 41 41.0003Z" stroke="#70B2C7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M58.8956 61.8333C58.8956 53.7708 50.8748 47.25 40.9998 47.25C31.1248 47.25 23.104 53.7708 23.104 61.8333" stroke="#70B2C7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          .question-card__question-text-block
            p.question-card__question-text Будет ли этот курс актуален для меня если я из другой страны?
        .question-card__answer
          .question-card__answer-text-block
            p.question-card__answer-text Курс актуален для России, Белоруссии, Казахстана и Кыргызстана.
          .question-card__user
            img(src="img/photo/author-avatar.png", alt="Автор")
        button.question-card__toggle-button#question_3_detailed Показать ответ
          <svg class="question-card__toggle-button-icon" width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.70711 0.292893C8.31658 -0.097631 7.68342 -0.097631 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 2V1L7 1V2L9 2Z" fill="#70B2C7"/>
          </svg>

      .question-card#question_4
        .question-card__question
          .question-card__user
            <svg width="82" height="82" viewBox="0 0 82 82" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="41" cy="41" r="40.5" stroke="#70B2C7"/>
              <path d="M41 41.0003C46.753 41.0003 51.4167 36.3366 51.4167 30.5837C51.4167 24.8307 46.753 20.167 41 20.167C35.2471 20.167 30.5834 24.8307 30.5834 30.5837C30.5834 36.3366 35.2471 41.0003 41 41.0003Z" stroke="#70B2C7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M58.8956 61.8333C58.8956 53.7708 50.8748 47.25 40.9998 47.25C31.1248 47.25 23.104 53.7708 23.104 61.8333" stroke="#70B2C7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          .question-card__question-text-block
            p.question-card__question-text После прохождения курса я смогу самостоятельно оплачивать заказы на китайских сайтах?
        .question-card__answer
          .question-card__answer-text-block
            p.question-card__answer-text На тарифах «Стандарт», «VIP» и «Плюс» включён блок по самостоятельному выкупу. <br>На тарифе «Базовый» рассматривается выкуп только через посредника.
          .question-card__user
            img(src="img/photo/author-avatar.png", alt="Автор")
        button.question-card__toggle-button#question_4_detailed Показать ответ
          <svg class="question-card__toggle-button-icon" width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.70711 0.292893C8.31658 -0.097631 7.68342 -0.097631 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 2V1L7 1V2L9 2Z" fill="#70B2C7"/>
          </svg>

      .question-card#question_5
        .question-card__question
          .question-card__user
            <svg width="82" height="82" viewBox="0 0 82 82" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="41" cy="41" r="40.5" stroke="#70B2C7"/>
              <path d="M41 41.0003C46.753 41.0003 51.4167 36.3366 51.4167 30.5837C51.4167 24.8307 46.753 20.167 41 20.167C35.2471 20.167 30.5834 24.8307 30.5834 30.5837C30.5834 36.3366 35.2471 41.0003 41 41.0003Z" stroke="#70B2C7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M58.8956 61.8333C58.8956 53.7708 50.8748 47.25 40.9998 47.25C31.1248 47.25 23.104 53.7708 23.104 61.8333" stroke="#70B2C7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          .question-card__question-text-block
            p.question-card__question-text Сколько длится обучение?
        .question-card__answer
          .question-card__answer-text-block
            p.question-card__answer-text На тарифах «Базовый» и «Плюс» все уроки доступны стразу. <br>На тарифе «Стандарт» уроки будут открываться в течении 1,5-2 недель. <br>На тарифе «VIP» уроки будут открываться в течении 2-2,5 недель
          .question-card__user
            img(src="img/photo/author-avatar.png", alt="Автор")
        button.question-card__toggle-button#question_5_detailed Показать ответ
          <svg class="question-card__toggle-button-icon" width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.70711 0.292893C8.31658 -0.097631 7.68342 -0.097631 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 2V1L7 1V2L9 2Z" fill="#70B2C7"/>
          </svg>

