section.acquisitions-screen
  .section-title-block.acquisitions-screen__title-block
    .container-custom
      h2.section-title.acquisitions-screen__title В результате обучения <span class="script-font">вы ...</span>
  .acquisitions-screen__content
    .container-custom
      ul.acquisitions-screen__list
        li.acquisitions-screen__list-item
          .acquisitions-screen__list-item-number
            p 1
          .acquisitions-screen__list-item-text Освоите работу с 5-ю крупнейшими китайскими площадками
          hr.acquisitions-screen__list-item-separator
        li.acquisitions-screen__list-item
          .acquisitions-screen__list-item-number
            p 2
          .acquisitions-screen__list-item-text Сможете работать напрямую с заводами и фабриками
          hr.acquisitions-screen__list-item-separator
        li.acquisitions-screen__list-item
          .acquisitions-screen__list-item-number
            p 3
          .acquisitions-screen__list-item-text Узнаете как находить поставщиков, которые могут брендировать ваш товар
          hr.acquisitions-screen__list-item-separator
        li.acquisitions-screen__list-item
          .acquisitions-screen__list-item-number
            p 4
          .acquisitions-screen__list-item-text Сможете закупать оптовые партии от 2-3 штук
          hr.acquisitions-screen__list-item-separator
        li.acquisitions-screen__list-item
          .acquisitions-screen__list-item-number
            p 5
          .acquisitions-screen__list-item-text Будете иметь доступ к широкому ассортименту товаров, в тысячи раз превышающему оптовые рынки России
          hr.acquisitions-screen__list-item-separator
        li.acquisitions-screen__list-item
          .acquisitions-screen__list-item-number
            p 6
          .acquisitions-screen__list-item-text Сможете покупать товары по самым низким ценам в мире
          hr.acquisitions-screen__list-item-separator
        li.acquisitions-screen__list-item
          .acquisitions-screen__list-item-number
            p 7
          .acquisitions-screen__list-item-text Будете экономить на личном шопинге до 80%
          hr.acquisitions-screen__list-item-separator
        li.acquisitions-screen__list-item
          .acquisitions-screen__list-item-number
            p 8
          .acquisitions-screen__list-item-text Узнаете где находить люксовые копии популярных брендов
          hr.acquisitions-screen__list-item-separator
        li.acquisitions-screen__list-item
          .acquisitions-screen__list-item-number
            p 9
          .acquisitions-screen__list-item-text Сможете покупать оригинальные брендовые вещи с выгодой до 70%
          hr.acquisitions-screen__list-item-separator
        li.acquisitions-screen__list-item
          .acquisitions-screen__list-item-number
            p 10
          .acquisitions-screen__list-item-text Получите доступ к базе проверенных поставщиков и посредников
          hr.acquisitions-screen__list-item-separator
