@font-face {
  font-weight: 400;
  font-family: MADE-TheArtist Script;
  font-style: normal;
  src: url("../fonts/MADE TheArtist Script PERSONAL USE.woff2"), url("../fonts/MADE TheArtist Script PERSONAL USE.woff"), url("../fonts/MADE TheArtist Script PERSONAL USE.ttf");
  font-display: swap;
}
