footer.footer
  .container-custom
    h2.footer__title.section-title Остались вопросы <br>или возникли сложности <br>с оплатой?
    p.footer__description.letter-spacing-3persent Напиши сюда и мы ответим на твой вопрос, поможем определиться с тарифом, решим сложности с оплатой.
    .footer__button-block
      a(href="https://t.me/Zhorova_Alina" target="_blank").button.footer__contact-button
        <img class="" src="img/icons/telegram.png" alt="telegram">
        span Связаться
    .footer__info-block
      p.footer__info-text ИП Жорова Алина Сергеевна<br>ИНН 324104607101
      a(href="#").footer__info-link.footer__info-text Политика конфеденциальности
      a(href="#").footer__info-link.footer__info-text Договор оферты
