extends ../layout.pug

//- Переопредделение переменных шаблона layout.pug для страницы index.html
block vars
  - var headTitle  = 'Тариф "Базовый"'; //- Title
  - var bodyClass = 'basic-tariff-payment-page' //- Классы для body

block content

block main
  main
    .site
      <script id="c7d10b15047657a134f96f60a57573b517a3b91d" src="https://taolina.ru/pl/lite/widget/script?id=849109"></script>



//- Блок с подключением js файлов (при необходимости переопределяется)
block scripts

