extends ../layout.pug

//- Переопредделение переменных шаблона layout.pug для страницы index.html
block vars
  - var headTitle  = 'О китае — просто'; //- Title
  - var bodyClass = 'index-page' //- Классы для body

block content

block main
  main
    .site
      include ../blocks/first-screen/first-screen.pug
      include ../blocks/for-whom-screen/for-whom-screen.pug
      include ../blocks/acquisitions-screen/acquisitions-screen.pug
      include ../blocks/advantages-screen/advantages-screen.pug
      include ../blocks/tariffs-screen/tariffs-screen.pug
      include ../blocks/reviews-screen/reviews-screen.pug
      include ../blocks/questions-screen/questions-screen.pug
      include ../blocks/footer/footer.pug



//- Блок с подключением js файлов (при необходимости переопределяется)
block scripts
  script(src="js/tariffs-screen.min.js")
  script(src="js/questions-screen.min.js")
  script(src="js/jQuery_v3.6.0.min.js")
  script(src="js/slick.min.js")
  script(src="js/reviews-screen.min.js")
