extends ../layout.pug

//- Переопредделение переменных шаблона layout.pug для страницы index.html
block vars
  - var headTitle  = 'Тариф "Плюс"'; //- Title
  - var bodyClass = 'plus-tariff-payment-page' //- Классы для body

block content

block main
  main
    .site
      <script id="f102322050c54a5706eb387deaaa8441475a0d18" src="https://taolina.ru/pl/lite/widget/script?id=849130"></script>

//- Блок с подключением js файлов (при необходимости переопределяется)
block scripts

