extends ../layout.pug

//- Переопредделение переменных шаблона layout.pug для страницы index.html
block vars
  - var headTitle  = 'Тариф "Стандарт"'; //- Title
  - var bodyClass = 'standart-tariff-payment-page' //- Классы для body

block content

block main
  main
    .site
      <script id="03ba5c90447f48d94b383a8721cddd549c351405" src="https://taolina.ru/pl/lite/widget/script?id=849121"></script>


//- Блок с подключением js файлов (при необходимости переопределяется)
block scripts

