extends ../layout.pug

//- Переопредделение переменных шаблона layout.pug для страницы index.html
block vars
  - var headTitle  = 'Тариф "Vip"'; //- Title
  - var bodyClass = 'standart-tariff-payment-page' //- Классы для body

block content

block main
  main
    .site
      <script id="d8507aa56c3080a31b22f873479b154686a92386" src="https://taolina.ru/pl/lite/widget/script?id=849125"></script>

//- Блок с подключением js файлов (при необходимости переопределяется)
block scripts

