section.first-screen
    .first-screen__background
      .container-custom
        h1.first-screen__title.visually-hidden О китае - просто!
        a(href="#").first-screen__author-name Tao_lina_
        .first-screen__course-block
          p.first-screen__course-description Курс который научит тебя работать <br>с самым выгодным местом в мире!
          .first-screen__course-info
            //- p.first-screen__course-start Старт курса 17 февраля
            a.button.first-screen__buy-button.scrollto(href="#tariffs-screen") Записаться
