section.for-whom-screen
  .container-custom
    h2.section-title.for-whom-screen__title Для кого <span class="script-font for-whom-screen__title-font-script">этот курс</span>
    ul.for-whom-screen__list
      li.for-whom-screen__list-item
        p.for-whom-screen__list-item-number 01
        p.for-whom-screen__list-item-text Для начинающих предпринимателей
      li.for-whom-screen__list-item
        p.for-whom-screen__list-item-number 02
        p.for-whom-screen__list-item-text Для тех, кто хочет выйти на новый уровень <br>в уже существующем бизнесе
      li.for-whom-screen__list-item
        p.for-whom-screen__list-item-number 03
        p.for-whom-screen__list-item-text Для действующих поставщиков маркетплейсов
      li.for-whom-screen__list-item
        p.for-whom-screen__list-item-number 04
        p.for-whom-screen__list-item-text Для тех, кто хочет начать зарабатывать <br>без вложений
      li.for-whom-screen__list-item
        p.for-whom-screen__list-item-number 05
        p.for-whom-screen__list-item-text Для тех, кто хочет стильно одеваться <br>и совершать покупки для себя с огромной выгодой
