body {
  overflow-x: hidden;
  font-family: Inter, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.script-font {
  font-weight: normal;
  font-family: MadeTheArtistScript, sans-serif;
}

.color-text {
  color: $blue-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.site {
  max-width: 450px;
  margin: 0 auto;
}

.container-custom {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  color: $white-color;
  font-weight: 100;
  font-size: 48px;
}

.section-title-block {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.letter-spacing-3persent {
  letter-spacing: -0.03em;
}

@media (max-width: $small-screen-width) {
  .section-title {
    font-size: 38px;
  }
}
